@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: 'Almarai';
    outline: 0px !important;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Almarai';
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}


/*----------multi-level-accordian-menu------------*/

.navbar-logo {
    margin-left: 20px;
}

.navbar-mainbg {
    height: 64px;
    background-color: #212121;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    text-align: right;
    font-weight: 700;

    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color:white;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: black;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    text-align: right;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #212121;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 18px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
        direction: ltr;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}



.my-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.my-button.learn-more {
    width: 12rem;
    height: auto;
}

.my-button.learn-more .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #008080;
    border-radius: 1.625rem;
}

.my-button.learn-more .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.my-button.learn-more .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.my-button.learn-more .circle .icon.arrow::after {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-login:hover{
    background-color: #212121;
}
#nav-login:focus{
    box-shadow: none;
}
#drop::after{
    font-size: 17px;
}
#drop:hover{
    background-color: #212121;
}

.my-button.learn-more .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.65rem 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.my-button:hover .circle {
    width: 100%;
}

.my-button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}

.my-button:hover .button-text {
    color: #fff;
}

.login-profile-container {
    text-align: center;
    background-color: #134E5E;

    border-radius: 10px;
}
.logo-btn{
    color:  #def4f0;
    border:2px solid #def4f0;
border-radius: 10px;
    /*box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);*/
}
.login-profile-container:hover{
    color: #134E5E;
    background-color: #def4f0;
}
.login-profile-container-img {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 1000;
    color: #def4f0;

    border-radius: 50%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.navbar-logo span {
    display: block;
    margin-top: 5px;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .2);
    border-radius: .125rem;
    transition: all .15s linear;
    font-size: 14px
}

.dropdown-menu.dropdown-menu-right:before {
    left: auto;
    right: 10px
}

.dropdown-menu i {
    margin-right: 5px;
    position: relative;
    top: 1px
}

.dropdown-menu .now-ui-icons {
    margin-right: 10px;
    position: relative;
    top: 4px;
    font-size: 18px;
    margin-top: -5px;
    opacity: .5
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    color:#fff;
}

.dropup .dropdown-menu:before {
    display: none
}

.dropup .dropdown-menu:after {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: auto;
    bottom: -5px;
    right: auto;
    left: 10px;
    color: #fff;
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent
}

.dropup .dropdown-menu.dropdown-menu-right:after {
    right: 10px;
    left: auto
}

.dropdown-menu:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    left: 10px;
    right: auto;
    color: #fff;
    border-bottom: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent
}

.dropdown-menu.dropdown-menu-right {
    right: 0 !important;
    left: auto !important
}

.bootstrap-select .dropdown-menu.inner li a,
.dropdown-menu .dropdown-item {

    background-color: white;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all .15s linear
}

.bootstrap-select .dropdown-menu.inner li a:focus,
.bootstrap-select .dropdown-menu.inner li a:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: #fff;
    outline: 0
}

.bootstrap-select .dropdown-menu.inner li a.disabled,
.bootstrap-select .dropdown-menu.inner li a:disabled,
.dropdown-menu .dropdown-item.disabled,
.dropdown-menu .dropdown-item:disabled {
    color: hsla(0, 0%, 71%, .6)
}

.bootstrap-select .dropdown-menu.inner li a.disabled:focus,
.bootstrap-select .dropdown-menu.inner li a.disabled:hover,
.bootstrap-select .dropdown-menu.inner li a:disabled:focus,
.bootstrap-select .dropdown-menu.inner li a:disabled:hover,
.dropdown-menu .dropdown-item.disabled:focus,
.dropdown-menu .dropdown-item.disabled:hover,
.dropdown-menu .dropdown-item:disabled:focus,
.dropdown-menu .dropdown-item:disabled:hover {
    background-color: transparent
}

.dropdown-menu .dropdown-divider {
    background-color: hsla(0, 0%, 87%, .5)
}

.dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
    color: hsla(0, 0%, 71%, .6);
    font-size: .7142em;
    text-transform: uppercase;
    font-weight: 700
}